/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    font-family: roboto;
}
.header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 10px;

}
 .logo{
     color: #F15D1E;
     font-size: 45px;
     margin-left: 25px;
     text-decoration: none;
     font-family: "Guardian-EgypTT";
     font-style: italic;
 }

 .header-right {
    float: right;
    display: flex;
   
 }

 .session-header {
     
     text-align: center;
     color: black;
     padding: 12px;
     text-decoration: none;
     font-size: 25px;
     line-height: 23px;
     border-radius: 5px;
 }

 .session-header:hover {

    background-color: rgb(226, 226, 226)
 }

 button.session-header{
         outline:none;


 }
.search-container{
        display: flex;
        flex-grow: 1;
        margin-left: 15px;
        width: 100%;
        
}
 .search-container input[type="text"]{
    outline: none;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 300px;
    height: 40px;
    font-size: 18px;
    color: #222222;
    font-family: inherit;
    background-color: #e4e2e2ea;
    border-radius: 35px;
    border-color: grey;
    border-width: 1px;
    width: 100%;
    margin-right: 15px;
 }


.nav{
    margin-left: 15px;
    width: 100%;
}



 .nav-ul{
     display: flex;
     margin: 0;
     padding: 0;
     overflow: hidden;
     list-style-type: none;
     border-bottom: 1px solid #b4b4b4;
     width: 100%;
 }


 .nav li {
     float: left;
 }

  .nav a {
      text-decoration: none;
      display: block;
      padding: 14px 16px;
      font-size: 15px;
      color: rgb(58, 58, 56);

  }


  @media only screen and (max-width: 800px) {
      .nav-ul{
          display: none;
      }
  }

  /* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {
    .nav a {
        font-size: 16px;
    }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .nav a {
        font-size: 14px;
    }
} */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .example {
        font-size: 12px;
    }
} */


  .nav li::after {
        
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: rgb(75, 73, 73);
    transition: all 0.3s linear;
  }

  .nav li:hover:after {
      width: 79%;
  }

  .modal-background {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #00000034;
  }

  .modal-child {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 384px;
     background-color: rgb(251, 253, 247);
     transform: translate(-50%, -50%);
     padding-left: 0px;
     padding-right: 53px;
     border-radius: 10%;
     border: 0.5px solid rgb(88, 88, 88);
     display: flex;
     justify-content: center

  }

  .user-form-parent{
    display: flex;
    justify-content: center; 
  }

  .close-x {
      position: absolute;
      top: -25px;
      right: -1px;
      cursor: pointer;
      color:rgb(179, 176, 176);
  }

  .user-form{
      /* padding-top: 0;
      margin-bottom: 20px;
      /* display: flex; */
        padding: 18px;
        width: 330px;
    }

  

  .user-form input[type="text"],
  .user-form input[type="password"] {
    margin-bottom: 10px;
    padding: 10px 12px;
    border-radius: 8px;
    width: 111%;
    }
  

  .input-headers{
      display: block;
  }

.current-next-session{
    display: flex;
    justify-content: space-between;
    width: 110%;
    margin-top: 14px;
    }

.current-next-session h4{
    margin: 24px;
    font-weight: bold;
    font-size: 20px;
}


.form-type{
    float: left;

}


.form-next {
    float: right;
    margin-top: 10px;
    margin-left: 63px;
    outline: none;
    border: none;


}

.form-next :active {
    background: #eeeeee;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    border: none;
}


.signup-login-btn{
   background-color: rgb(253, 253, 253);
   border-radius: 24px;
   border: 2px solid rgb(56, 56, 56,);
   padding: 10px;
   font-size: 13px;
   color: #1b1a1a;
   font-weight: bolder;
   width: 88px;
   border-width: 2px;
   cursor: pointer;
}

.submit-button{
    margin-top: 15px;
    background: rgb(22, 22, 22);
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
     width: 100%;

}

.submit-button:active {
    background: #3b3b3b;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    border: none;
}

.guest-login-btn{
   margin-top: 15px;
   background-color: #ea7f23;
   border: none;
   text-decoration: none;
   color: white;
   outline: none;
   border-radius: 24px;
   font-weight: bold;
   padding-top: 11px;
   padding-bottom: 11px;
   padding-left: 60px;
   padding-right: 60px;
   text-align: center;
   border-width: 3px;
   cursor: pointer;
   width: 100%;

}

.guest-login-btn:active {
    background-color: #e29a5a;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    border: none;
}

.search-form{
    display: flex;
    width: 100%;
}

.login-logout-btn{
    background: none;
    border: none;
    font-weight: bold;
    color:rgb(73, 73, 73);
    font-size: 18px;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
     outline:none;
}

.login-logout-btn:hover {

    background-color: #ddd
}

.errors{
    color: red;
    list-style-type: none;
    padding: 0;

}

.product-list{
    justify-items: center;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: flex-start;
    
}

.product-element-body{
    font-family: "Spartan",
    sans-serif;
    background-color: #f9e8df3d;
     justify-content: center;
    text-align: center;
    

}

.product-element{
    display: grid;
    margin: 8px;
    margin-top: 34px;

}

.product-element img {
    max-width: 100%;
    max-height: 180px;
    border-radius: 5px;

}

.product-element-title {
    text-decoration: none;

}
.product-element-title h3{
    font-size: 14px;
    color: #222;
    margin-top: 10px;
}

.product-element-store {
    font-size: 12px;
    color: rgba(94, 94, 94, 0.76);
}

.product-element-price {
  font-size: 16px;
}

.product-element p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.product-show{
    max-width: 1200px;
    margin-left: 165px;
    margin-top: 38px;
}
.product-show-content {
    display: flex;
    margin: auto;
    max-width: 1200px;
}

.product-show-content img {
    height: 480px;
    width: 480px;
    min-width: 0px;
}

.product-show-description {
   word-break: break-word;
   word-wrap: break-word;
   font-size: 25px;
   letter-spacing: 0.35px;
   margin-top: 17px;
   color: #222;

}

.product-show-info-container{
    margin-left: 72px;
    margin-top: 54px;
    font-family: "Guardian-EgypTT",
    serif;
    -webkit-font-smoothin: antialiased;
    }



.add-cart-btn{
    margin-top: 15px;
    background: rgb(22, 22, 22);
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 16px;
    height: 12%;
    width: 79%;
    /* text-align: center; */
    outline: none;
    }

    * {
        font-family: roboto;
    }

    user agent stylesheet button {
        appearance: button;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
        box-sizing: border-box;
        margin: 0em;
        font: 400 13.3333px Arial;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }

    

    .product-show-info-container .add-cart-btn:active {
        background: #3b3b3b;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
        outline: none;
        border: none;
    }


.product-show-store{
    color: #222;
    font-size: 16px;
    margin: 0px 6px 0px 0px
}

.product-show-price{
    margin: 17px;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

/* reviews header */
.product-show-reviews-list{
        border-top: 1px solid #8080805e;
        border-width: 3px;
        padding-top: 10px;
    
}

.reviews-header{
    font-size: 25px;
    line-height: 42px;
}

.review-author{
 font-weight: 300;
 font-size: 13px;
 line-height: 18px;
 margin-bottom: 10px;
 display: flex;
 flex-direction: row;
 justify-content: left;
}

.review-author a{
    color: black;
}

.review-author img {
    height: 20px;
    width: auto;
    border-radius: 50%;
    margin-right: 5px;
}

.review-body{
    font-size: 15px;
    font-weight: 300;
    margin-left: 30px;
    margin-bottom: 16px;
}

.review-element{
    margin-bottom: 10px;
}

.bottom-form{
    margin-left: 51px;
}

.create-review-box{
   width: 471px;
   height: 105px;
   border: -4px solid #cccccc;
   padding: 5px;
   background-image: url(bg.gif);
   background-position: bottom right;
   background-repeat: no-repeat;
   margin-top: 22px;
   margin-left: 2px;
   margin-bottom: 7px;
}

.add-comment-button{
    margin-top: 2px;
    background: rgb(22, 22, 22);
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 32px;
    padding-right: 60px;
    text-align: center;
    width: 13%;
}

.shopping-cart-icon-container {
    line-height: 31px;
    font-size: 32px;
     background: none;
     border: none;
     border-radius: 30px;
     padding: 10px;
     cursor: pointer;
     outline:none;
     transform: scaleX(-1);
     -moz-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     -ms-transform: scaleX(-1);
}

.shopping-cart-icon-container a{
    color: #F15D1E
}


.shopping-cart-icon-container:hover{
 background-color: rgb(226, 226, 226)
}

.shopping-cart-icon-container:active {
    background-color: rgb(180, 180, 180)
}
