.cart-container{
 padding-left: 38px;
 padding-right: 38px;
 display: flex;
justify-content: space-between;

}

.carted-item-container{
       margin: 30px 0px;

 }

.carted-item-body{
    display:flex;
     margin: auto;

}

.carted-items-container, .carted-item-container{
    display: block;
   
    align-items: center;
    }

   .carted-item-description{
        margin-left: 16px;
        display:flex;
        
   }



    .carted-item-name{
       font-size: 18px;
       font-weight: 300px;
       letter-spacing: 0.35px;
       color: #222;
    }

    .paid-shipping-status-background{
        background-color: #fdebd2;
        padding:5px;
    }

    .free-shipping-status-background {
        background-color: #D4E9D7;
        padding:5px;
    }


    .carted-item-name-link{
        text-decoration: none;
    }


    .carted-item-shipping{
        margin-top:10px;
    }

    .carted-item-image{
        max-width: 200px;
        max-height: 250px;
    }

    .carted-item-body{
        display: flex;
        justify-content: space-between;
    }

    .carted-item-description-text{
        margin-left: 36px;
    }


   .quanity-per-product-container{
       margin: 0px 10px;
   }

   .carted-item-header{
       margin-bottom: 8px
   }

   .cart-count{
        font-size: 30px;
        letter-spacing: 0.5px;
        margin: 15px 0px;
   }


   .payment-container{
       border-radius: 15px;
    border: 0px solid;
       overflow: hidden;
    padding: 8px 13px;
    margin: 15px 0px;
       box-shadow: 0 4px 20px rgba(34, 34, 34, 9);
    height: fit-content;
        width: 460px;


   }

   .payment-container-header{
       font-size:20px;
       font-weight: bold;
               margin: 15px 0px;

   }

   .payment-container-radio-container{
       display: flex;
       flex-direction: column
   }

 

   .payment-container-radio-input{
       display: flex;
       
   }


   .card-list{
       display: flex;
       flex-direction: row;
   }

   .card-list-item{
    color: #c66136;
    margin: 0px 5px;
    font-size: 20px;
   }

   .payment-container-radio-input{
       margin: 5px 0px;
   }

   .payment-container-radio-input input[type="radio"]{
           height: 30px;
           width: 30px;
           min-width: 30px;
           left: 0;
           top: 0;
   }


   .payment-sub-cost-container{
       
       border-top: rgba(117, 117, 117, 0.329) solid 1px;
       margin-top: 8px;   
   }

    .cost-field{
        display: flex;
        justify-content: space-between;
    }
   .payment-cost-container p,
   .payment-sub-cost-container p {
       padding-top: 10px;
       font-size: 19px;
   }


   .cart-checkout-button{
       margin-top: 15px;
       background: rgb(22, 22, 22);
       border: none;
       text-decoration: none;
       color: white;
       cursor: pointer;
       border-radius: 24px;
    font-weight: bold;
       padding: 19px 5px;
       font-size: 18px;
       height: 12%;
       width: 100%;
       /* text-align: center; */
       outline: none;
        
   }
  
   .payment-subtotal{
       font-weight: bold;
   }

   .delete-carted-item{
        border: none;
        background: none;
        cursor: pointer;
        font-size: 18px;
        margin-top:10px;
        outline: none;
        color: #c66136;

   }

   .delete-carted-item:active{
           color: #6e2708;

   }