.modal-component-container{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   /* align-content: center; */
}

.contin-shopping-btn-container{
    margin: 0;
    position: absolute;
    
    left: 50%;
   
}

.order-summary-close-btn{
   background: none;
   outline: none;
   border: none;
   font-size: 31px;
   cursor: pointer;
   color: #BB481C;
}

.order-summary-close-btn:hover {
  
    font-size: 37px;
    color: #af441a;
}

.order-summary-close-btn:active {

    font-size: 31px;
    color: #64260d;
}

.order-summary-container{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Guardian-EgypTT",
    serif;
    font-size: 20px;
    width: 100%;

}


.order-summary-description{
    display:flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    }


.order-summary-header{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;

    font-size: 28px;

}

.order-summary-info-labels,
.order-summary-info-values {
    color: #3f413f;
    font-size: 20px;
}


.order-summary-info-labels p,
.order-summary-info-values p {
    padding: 5px;
}

.order-summary-price{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

.order-summary-price h1{
    font-size: 25px;
    font-weight: 300;
}

.print-btn{
        padding: 6px 18px;
        font-size: 20px;
        background-color: white;
        cursor: pointer;
        outline: none;
}

.print-btn:hover {
    padding: 7px 19px;
    background-color: #cecece;
}

.print-btn:active {
    padding: 6px 18px;
    background-color: #c2c1c1;
}


.print-btn i{
    color: #bb4817;
    font-size: 18px;
    font-style: bold;
}


.summary-header-color{
    color: #bb4817;

}

.summary-totals{
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   width: 50%;
}


.continue-shopping-btn{
    margin-top: 15px;
    background: rgb(22, 22, 22);
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
    padding: 19px 5px;
    font-size: 18px;
    height: 12%;
    width: 50%;
    /* text-align: center; */
    outline: none;
}


.anti-link-style {
    color: white;
    text-decoration: none;
}

.continue-shopping-btn:hover {
    background: rgb(37, 37, 37);
    padding: 20px 6px;
}

.continue-shopping-btn:active {
    background: rgb(66, 66, 66);
    padding: 19px 5px;
}

.order-summary-instructions-container{
    margin: 20px auto;
    text-align: center;
    width: 70%;
}

